.form-container {
    width: 450px;
    margin: 0 auto;
    margin-top: 8rem;
    border: 2px solid rgb(18, 79, 248);
    border-radius: 6px;
    padding: 3rem 2.5rem;
    padding-top: 0;
    border-radius: 16px;
    box-shadow: 0 0 0 3px rgba(3, 128, 253, 0.455);
}

h1{
    text-align: center;
    color: rgb(1, 54, 151);
    margin: 3.25rem;
    font-family: 'Courier New', Courier, monospace;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.form-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    gap: 8px;
}

label {
    font-weight: 600;
    font-size: small;
}

input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    transition: border-color 0.2s;
}

input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 2px 4px rgb(69, 149, 235);
}

input.error, input.error:focus{
    outline: none;
    border-color: red;
    background-color: rgba(255, 150, 150, 0.5);
    box-shadow: 0 0 2px 4px rgba(255, 42, 42, 0.5);
}

.submit-button {
    padding: 0.5rem 1rem;
    margin-bottom: 5px;
    font-size: 1.25rem;
    background-color: #007bff;
    margin-top: 0.75rem;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0,0,0,.15);
    transition: all .3s ease;
}

.submit-button:hover {
    background-color: #0056b3;
}
.submit-button:disabled{
    background-color: #ccc;
}

.goto-register{
    margin-top: 6px;
    font-size: small;
}

.s-error{
    color: rgb(251, 3, 3);
}

